body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  padding: 40px;
}

.palette {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.color-box {
  width: 120px;
  height: 180px;
  background-color: lightgray;
  border-radius: 10px;
  border: 2px solid #ccc;
}
.active {
  border: 4px solid black;
  transform: scale(1.05);
}